<% include ../partials/head_index %> <% include ../partials/header %>
<main class="main__contaner">
  <figure class="contaner__figure">
    <img class="figure__img" src="/assets/images/logo-white.png" alt="" />
  </figure>
  <figure class="contaner__infofigure">
    <figcaption class="infofigure__figcaption"></figcaption>
  </figure>
  <section class="section__sectionGallery">
    <h2 class="sectionGallery__h2">
      PRIMALUNA <br />
      SOUNDS
    </h2>
    <div class="sectionGallery__arrowContainer">
      <ion-icon
        class="arrowContainer__arrowBack"
        name="ios-arrow-back"
      ></ion-icon>
      <ion-icon
        class="arrowContainer__arrowForward"
        name="ios-arrow-forward"
      ></ion-icon>
    </div>
  </section>
  <figure class="figureSome">
    <div class="figureSome__contaner1">
      <img src="/assets/images/social-facebook.png" class="figureSome__social" />
    </div>
    <div class="figureSome__contaner2">
      <img src="/assets/images/social-blog.png" class="figureSome__social" />
    </div>
    <div class="figureSome__contaner3">
      <img src="/assets/images/social-twitter.png" class="figureSome__social" />
    </div>
  </figure>
  <section class="sectionInfo">
    <div class="sectionInfo__link">
      <button class="sectionInfo__button">HISTORY</button>
      <p>
        ESTABLISHED IN THE LATE 1960S, <br />
        OUR FAMILY OWNED BUSINESS IS <br />
        BASED IN EDINBURGH AND FALKIRK, <br />
        SERVICING CUSTOMERS ACROSS THE <br />
        UK.
      </p>
    </div>
    <div class="sectionInfo__link">
      <button class="sectionInfo__button">NEWS</button>
      <p>
        CHECK OUT OUR LATEST NEWS <br />
        STORIES FOR ALL THE UP TO DATE <br />
        HI-FI CORNER PRODUCTS AND <br />
        LAUNCHES.
      </p>
    </div>
    <div class="sectionInfo__link">
      <button class="sectionInfo__button">SHOP</button>
      <p>
        HAVE A LOOK IN OUR ONLINE SHOP <br />
        FOR GREAT PRODUCTS AND DEALS.
      </p>
    </div>
  </section>
</main>

<% include ../partials/footer %> <% include ../partials/after-footer %>
