<% include ../partials/head %> <% include ../partials/header %>
<section class="sideContaner">
  <div class="sidenav">
    <div class="sidenav-bg">
      <p class="sidenav__title">Categorys</p>
      <nav class="sidenav__subNav">
        <ul class="subnav__subUl">
          <li class="subul__subLi">
            <a class="subul__subA" href="/shop">All</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="?sku=Tube Amplifiers"
              >Tube Amplifiers</a
            >
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="?sku=Preamps">Preamps</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="?sku=Speakers">Speakers</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="?sku=Amplifiers">Amplifiers</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="?sku=Power Amplifiers"
              >Power Amplifiers</a
            >
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="?sku=DVD Players">DVD Players</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="?sku=CD Players">CD Players</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="?sku=LP Players">LP Players</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="sidenav-bg">
      <p class="sidenav__title">SHOP BY</p>
      <nav class="sidenav__subNav">
        <ul class="subnav__subUl">
          <li class="subul__subLiTitle">
            <a class="sidenav__subtitle" href="#">Filter</a>
          </li>
          <li class="subul__subLiTitle">
            <a class="sidenav__subtitle" href="#">PRICE</a>
          </li>
          <li class="subul__subLi-prize">
            <a class="subul__subA" href="#">£0.00 - £799.99 (10)</a>
            <a class="subul__subA" href="#">£800.00 - £999.99 (11)</a>
            <a class="subul__subA" href="#">£1.000.00 - £1.499.99 (13)</a>
            <a class="subul__subA" href="#">£1,500.00 - £1,999.99 (13)</a>
            <a class="subul__subA" href="#">£2.000 00 - £2.999.99 (20)</a>
            <a class="subul__subA" href="#">£3.000.00 - £3.499 99 (11)</a>
            <a class="subul__subA" href="#">£3,500.00 - £4,999.99 (17)</a>
            <a class="subul__subA" href="#">£5,000.00 - £7.999.99 (16)</a>
            <a class="subul__subA" href="#">£8,000 00 - £11.999.99 (9)</a>
            <a class="subul__subA" href="#">£12.000.00 and above (13)</a>
          </li>
          <li class="subul__subLiTitle">
            <a class="sidenav__subtitle" href="#">MANUFACTURER</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Arcam (5)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Astell and Kern (1)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">ATC (7)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Audiolab (4)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">AVID (3)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Chord Electronics (17)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Classé (2)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Denon (3)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Devialet (6)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">EAT (2)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Graham Slee (2)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Unn (4)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Maranlz (5)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Meridian (9)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Naim (13)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">PrimaLuna (10)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Primåre (4)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Quad (9)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Rotel (8)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Sennheiser (1)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Sugden (11)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Technics (1)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Trinnov (1)</a>
          </li>
          <li class="subul__subLi">
            <a class="subul__subA" href="#">Yamaha (5)</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <main class="produkt__Contaner">
    <h2 id="category">All</h2>
    <div class="sort">
      <div class="sort__selection">
        <p>SORT BY:</p>
        <select class="sort__selecter">
          <option value="0">Select sort:</option>
          <option value="1">Price</option>
          <option value="2">Name</option>
        </select>
      </div>
      <p class="product__Items">0 item(s)</p>
    </div>
    <div class="Contaner__produktList"></div>
  </main>
  <div class="manufacturer">
    <li class="manufacturer__subLiTitle">
      <h5>MANUFACTURER</h5>
    </li>
    <li class="manufacturer__subLi">
      <a class="manufacturer__subA" href="#">Arcam</a>
    </li>
    <li class="manufacturer__subLi">
      <a class="manufacturer__subA" href="#">Astell and kern</a>
    </li>
    <li class="manufacturer__subLi">
      <a class="manufacturer__subA" href="#">Atc</a>
    </li>
    <li class="manufacturer__subLi">
      <a class="manufacturer__subA" href="#">Audiolab</a>
    </li>
    <li class="manufacturer__subLi">
      <a class="manufacturer__subA" href="#">Avid</a>
    </li>
    <li class="manufacturer__subLi">
      <a class="manufacturer__subA" href="#">Chord Electronics</a>
    </li>
    <li class="manufacturer__subLi">
      <a class="manufacturer__subA" href="#">Classé</a>
    </li>
  </div>
</section>

<% include ../partials/footer %> <% include ../partials/after-footer %>
<script src="/assets/javascript/database.js"></script>

<template id="produktTemplate">
  <div class=" produktList__item">
    <img class="item__img" src="" alt="" />
    <p class="item__title"></p>
    <p class="prize__now"></p>
    <a class="item__add" href="">ADD TO CARD</a>
  </div>
</template>
