<header class="header">
	<div class="header__info">
	  <img class="info__img" src="../../assets/images/top-map.png" />
	  <img class="info__img" src="../../assets/images/top-call.png" />
	  <img class="info__img" src="../../assets/images/top-mail.png" />
	</div>
	<% include ../partials/nav %>

  </header>