<nav class="header__nav">
	<ul class="nav__ul">
	  <li class="ul__li"><a href="/" class="li__a">HOME</a></li>
	  <li class="ul__li"><a href="#" class="li__a">ABOUT US</a></li>
	  <li class="ul__li"><a href="#" class="li__a">BRANDS</a></li>
	  <li class="ul__li"><a href="#" class="li__a">BLOG</a></li>
	  <li class="ul__li"><a href="#" class="li__a">EVENTS</a></li>
	  <li class="ul__li"><a href="/shop" class="li__a">SHOP</a></li>
	  <li class="ul__li"><a href="#" class="li__a">CONTACT US</a></li>
	</ul>
  </nav>